/* Navigation */
/* .... Style rules for nagivation .... */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}


li, a, button {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  /* color: #edf0f1; */
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 35px;
}

.nav_links li a {
  transition: all 0.15s ease-out;
}

.nav_links li a:hover {
  color: yellow;
}


/* Main Content Area */




/* Footer Content */
/* .... Style rules for footer content .... */
.footer-container{
  background: #000000;
  padding: 20px;
}

.footer {
  width: 100%
  height: 40vh;
  background-color: #000000;
  color: #FFFFFF;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: -200 px;
  font-size: 14px;
}

.footer-heading h2 {
  margin-bottom: 15px;
  color: orange;
}

.footer-heading a {
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-heading a:hover {
  color: skyblue;
  transition: 0.2s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 15px;
  font-size: 21px;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 16px;
}

#footer-email::placeholder {
  color: #000000;
  background-color: #FFFFFF
}

#footer-email-button {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background-color: #F9423D;
  outline: none;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
}

#footer-email-button:hover {
  cursor: pointer;
  background-color: green;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1150px) {
  .footer {
     height: 50vh;
  }
  .footer-email-form {
    margin-top: 32px;
  } */
}
