/* Navigation */
/* .... Style rules for nagivation .... */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}


li, a, button {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}


.header {
  display: flex;
  align-items: center;
  padding: 5%;
  position: sticky;
  justify-content: space-between;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: right;
}

.nav_links li {
  display: flex;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_links li a {
  transition: all 0.15s ease-out;
}

.nav_links li a:hover {
  color: yellow;
}

.header-logo {
  display: inline-flex;
  justify-content: left;
}

.covid-logo {
  display: inline-flex;
  justify-content: right;
}

/* Main Content Area */




/* Footer Content */
/* .... Style rules for footer content .... */

.footer {
  width: 100%;
  color: #FFFFFF;
  margin:0 auto;
  display: inline-flex;
  justify-content: space-evenly;
  position: fixed;
  padding-top: 60px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.footer-heading a {
  color: #FF6347;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-heading a:hover {
  color: #66CDAA;
  transition: 0.2s ease-out;

}

.footer-email-form h2 {
  margin-bottom: 15px;
  font-size: 21px;
  font-family: "Quicksand", sans-serif;
}

.newsletter {
  color: #FF6347;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

#footer-email {
  width: 200px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-bottom: 16px;
  font-family: "Quicksand", sans-serif;
}

#footer-email::placeholder {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
}

#footer-email-button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #FF6347;
  outline: none;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

#footer-email-button:hover {
  cursor: pointer;
  background-color: #66CDAA;
  transition: all 0.2s ease-out;
}

#footer-lname {
  width: 200px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

#footer-lname::placeholder {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
}


@media screen and (max-width: 1150px) {
  .footer-email-form {
    margin-top: 32px;
  } */
}
