@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*
{
  font-family: "Poppins", sans-serif;

}

body
{
  background: #111;
}

#BigName
{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
}

#BigName h1
{
  color: white;
  font-size: 50px;
  font-weight: 700;
}

#BigName p
{
  color: #888;
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
}

#ButtonNav
{
  list-style-type: none;
  width: 97%;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #333;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 25px 35px rgba(0,0,0,0.1);
  border-bottom: 6px solid #4ac7ff;
}

#ButtonNav li
{
  display: inline-block;
  font-weight: 500;
}

#ButtonNav li a.button:link, li a.button:visited
{
  display: inline-block;
  background-color: #111;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}

#ButtonNav li a.button.first:link, li a.button.first:visited
{
  border: 2px solid #bc13fe;
}

#ButtonNav li a.button.second:link, li a.button.second:visited
{
  border: 2px solid #ff08e5;
}

#ButtonNav li a.button.third:link, li a.button.third:visited
{
  border: 2px solid #ffff08;
}

#ButtonNav li a.button.first:hover, li a.button.first:active
{
  font-weight: 800;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  text-shadow:0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px #bc13fe,
              0 0 82px #bc13fe,
              0 0 92px #bc13fe,
              0 0 102px #bc13fe,
              0 0 151px #bc13fe;
}

#ButtonNav li a.button.second:hover, li a.button.second:active
{
  font-weight: 800;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ff08e5,
              0 0 0.8rem #ff08e5,
              0 0 2.8rem #ff08e5,
              inset 0 0 1.3rem #ff08e5;
  text-shadow:0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px #ff08e5,
              0 0 82px #ff08e5,
              0 0 92px #ff08e5,
              0 0 102px #ff08e5,
              0 0 151px #ff08e5;
}

#ButtonNav li a.button.third:hover, li a.button.third:active
{
  font-weight: 800;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ffff08,
              0 0 0.8rem #ffff08,
              0 0 2.8rem #ffff08,
              inset 0 0 1.3rem #ffff08;
  text-shadow:0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px #ffff08,
              0 0 82px #ffff08,
              0 0 92px #ffff08,
              0 0 102px #ffff08,
              0 0 151px #ffff08;
}

#AnnualPass:target:before, #OneDayTicketA:target:before, #StudentPass:target:before
{
  content:"";
  display: block;
  height: 200px;
  margin: -200px 0 0;
}


.row
{
  align-items: center;
  margin: auto;
  height: 200px;
  width: 80%;
  border: 0.2rem solid #fff;
  background-color: #333;
  margin-top: 100px;
  padding: 20px;
}

.row.pass
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.row.ticket
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ff08e5,
              0 0 0.8rem #ff08e5,
              0 0 2.8rem #ff08e5,
              inset 0 0 1.3rem #ff08e5;
}

.row.promotion
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ffff08,
              0 0 0.8rem #ffff08,
              0 0 2.8rem #ffff08,
              inset 0 0 1.3rem #ffff08;
}

.column
{
  float:left;
  height: 100%;
}

.column.middle
{
  width: 50%;
}

.column.side
{
  width: 25%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.column h2
{
  font-size: 30px;
  text-align: center;
}

.column h1
{
  font-size: 40px;
}

.column li
{
  color:white;
}

.row button
{
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.row.pass button
{
  background-color: #111;
  color: white;
  border: 2px solid #bc13fe;
}

.row.pass button:hover
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.row.ticket button
{
  background-color: #111;
  color: white;
  border: 2px solid #ff08e5;
}

.row.ticket button:hover
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ff08e5,
              0 0 0.8rem #ff08e5,
              0 0 2.8rem #ff08e5,
              inset 0 0 1.3rem #ff08e5;
}

.row.promotion button
{
  background-color: #111;
  color: white;
  border: 2px solid #ffff08;
}

.row.promotion button:hover
{
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ffff08,
              0 0 0.8rem #ffff08,
              0 0 2.8rem #ffff08,
              inset 0 0 1.3rem #ffff08;
}
